// Place all the styles related to the Team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";


.navbar-header {
	background-color: salmon;
	text-color: blue;
}
.navbar-brand{
	text-color: red;
}

.navbar-fixed-top {
	background-color: salmon;
	text-color: red;
}

.navbar-nav {
	background-color: salmon;
	text-color: blue;
}

.collapse {
	background-color: salmon;
	text-color: blue;
}

.navbar-collapse {
	background-color: salmon;
	text-color: blue;
}

.navbar-header{
	background-color: salmon;
	text-color: blue;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: black;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-brand:hover {
    color: black;
}

.submitButton {
	margin: auto;
	color: black;
}

.form-control {
    display: block;
    width: 50px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
